body {
    background-color:#1e2635;
    color: #DCDFE4;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 14px;
    padding: 10px 40px;
    margin: 20px auto;
    max-width: 800px;
}

header {
    padding-bottom: 20px;
}

nav {
    margin: 15px;
}

nav, footer {
    text-align: center;
}

h1, h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

section {
    border: 5px solid #DCDFE4;
    border-radius: 2px;
}

.sectionHead {
    background-color: #343B49;
    padding: 15px;
}

.sectionBody {
    padding: 5px 15px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.myButton {
    background-color: #fda34b;
    color: #1e2635;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}


